.credentials, .connection {
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.credential {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    border: none;
    padding: 20px;
    user-select: none;
}

.credentials label {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}

.connection label {
    display: flex;
    margin: 50px 20px;
    flex-direction: row;
    justify-content: space-between;}

input {
    padding-left: 100px;
}

label svg {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #555;
  }